{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}
    {% trans 'signup' %}
{% endblock page_title %}

{% block body_class %}
    account_page
{% endblock body_class %}

{% block content %}

<!-- signup----------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">sabzeonline</a>
                        <div class="account-box">
                            <div class="account-box-headline">
                                <a href="{% url 'account_login' %}" class="login-ds ">
                                    <span class="title">{% trans 'login' %}</span>
                                    <span class="sub-title">{% trans 'to sabzeonline' %}</span>
                                </a>
                                <a href="{% url 'account_signup' %}" class="register-ds active">
                                    <span class="title">{% trans 'signup' %}</span>
                                    <span class="sub-title">{% trans 'to sabzeonline' %}</span>
                                </a>
                            </div>
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4>{% trans 'signup to user account' %}</h4>
                                    <form action="" method="POST" class="form-account text-right">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <div class="form-auth-row">
                                            <label for="#" class="ui-checkbox mt-1">
                                                <input type="checkbox" value="1" name="login" id="remember">
                                                <span class="ui-checkbox-check"></span>
                                            </label>
                                            <label for="remember" class="remember-me mr-0">
                                                <a href="{% url 'privacy' %}">{% trans 'Privacy' %}</a> و <a href="{% url 'privacy' %}">{% trans 'Terms of the rules' %}</a>
                                                {% trans 'I have read the terms of use of the sabzeonline website services and agree to all of them.' %}
                                            </label>
                                        </div>
                                        <div class="form-row-account">
                                            <button class="btn btn-primary btn-login" type="submit">
                                                {% trans 'signup to sabzeonline' %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- signup----------------------------------->

<!-- scroll_Progress------------------------->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- scroll_Progress------------------------->

{% endblock content %}
