{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load persian_translation_tags %}
{% load humanize %}


{% block page_title %}
    {% trans 'checkout' %}
{% endblock page_title %}

{% block body_class %}
    account_page
{% endblock body_class %}

{% block content %}

    {% include 'partials/navbar.html' %}

    <!-- checkout------------------------------>
    <div class="container-main">
        <div class="d-block">
            <section class="blog-checkout d-block order-1">
                <div class="col-lg">
                    <div class="checkout woocommerce-checkout">
                        <div class="content-checkout container">
                            <div class="middle-container">
                                <div class="col2-set" id="customer-details">
                                    <div class="col-12">
                                        <h3 class="order-review-heading">سفارش شما</h3>
                                        <div class="checkout-review-order">
                                            <table class="checkout-review-order-table table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="product-name">{% trans 'product' %}</th>
                                                        <th scope="col" class="product-price">{% trans 'total price' %}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in cart %}
                                                        <tr class="checkout-cart-item">
                                                            <td class="product-name">{{ item.product_obj.name }}</td>
                                                            <td class="product-price text-info">
                                                                <span class="amount">{{ item.total_price|intcomma:False|translate_number }}
                                                                    <span>{% trans '$' %}</span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                <tfoot>

                                                    <tr class="cart-subtotal">
                                                        <th>{% trans 'sum total cart' %}</th>
                                                        <td>
                                                            <span class="amount">{{ cart.get_total_price|intcomma:False|translate_number }}
                                                                <span>{% trans '$' %}</span>
                                                            </span>
                                                        </td>
                                                    </tr>

                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="billing-fields mt-4">
                                            <h4>{% trans 'import receiver delivery information :' %}</h4>
                                            <form action="" method="post">
                                                {% csrf_token%}
                                                {{ form|crispy }}
                                                <button type="submit" method="POST">send</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- checkout------------------------------>

    {% include 'partials/footer.html' %}

{% endblock content %}
