{% load static %}
{% load i18n %}



<!-- footer------------------------------------------->
<footer class="footer-main-site">
    <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
        <div class="footer-shopping-social">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="logo">
                        <a href="{% url 'page:home' %}" class="custom-logo-link">
                            <img src="{% static 'img/logo/logotext.jpg' %}" alt="VOLTAGE BARTAR">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="footer-populated text-left">
                        <div class="footer-social">
                            <h5 class="footer-populated-title">{% trans 'follow us' %}</h5>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-telegram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
        <div class="container-fluid">
            <div class="col-12">
                <div class="footer-middlebar">
                    <div class="col-lg-8 d-block pr">
                        <div class="footer-links">
                            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                <div class="row">
                                    <section class="footer-links-col">
                                        <div class="headline-links">
                                            <a href="{% url 'page:home' %}">
                                                {% trans 'with voltage bartar' %}
                                            </a>
                                        </div>
                                        <ul class="footer-menu-ul">
                                            <li class="menu-item-type-custom">
                                                <a href="{% url 'page:news_room_page_view' %}">
                                                    {% trans 'newsroom voltage bartar' %}
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="{% url 'page:aboutus' %}">
                                                    {% trans 'about us' %}
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="{% url 'products:product_list' %}category/سیم-و-کابل-افشان">
                                                    {% trans 'Wire and cable distributor' %}
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                <div class="row">
                                    <section class="footer-links-col">
                                        <div class="headline-links">
                                            <a href="{% url 'page:home' %}">
                                                {% trans 'Customer service' %}
                                            </a>
                                        </div>
                                        <ul class="footer-menu-ul">
                                            <li class="menu-item-type-custom">
                                                <a href="{% url 'page:faq' %}">
                                                    {% trans 'Answers to frequently asked questions' %}
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="{% url 'page:faq' %}?category=RG">
                                                    {% trans 'Return procedures' %}
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="{% url 'page:privacy' %}">
                                                    {% trans 'Terms of Use' %}
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="{% url 'page:privacy' %}">
                                                    {% trans 'Privacy' %}
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                <div class="row">
                                    <section class="footer-links-col">
                                        <div class="headline-links">
                                            <a href="{% url 'page:home' %}">
                                                {% trans 'Buying Guide from voltage bartar' %}
                                            </a>
                                        </div>
                                        <ul class="footer-menu-ul">
                                            <li class="menu-item-type-custom">
                                                <a href="{% url 'page:order_registration' %}">
                                                    {% trans 'How to place an order' %}
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="{% url 'page:order_registration' %}">
                                                    {% trans 'Order sending procedure' %}
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="{% url 'page:order_registration' %}">
                                                    {% trans 'Payment methods' %}
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-block pl">
                        <div class="shortcode-widget-area">
                            <form action="#" class="form-newsletter">
                                <fieldset>
                                    <span class="form-newsletter-title">
                                        {% trans 'Stay informed about the latest news and products on the site by subscribing to the newsletter...' %}
                                    </span>
                                    <div class="input-group-newsletter">
                                        <input type="email" class="input-field form-control"
                                            placeholder="{% trans 'Enter your email address.' %}">
                                        <button class="btn btn-info btn-secondary" type="submit">{% trans 'send' %}</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="footer-more-info">
                        <div class="col-lg-10 pr">
                            <div class="footer-content d-block">
                                <div class="text pr-1">
                                    <h2 class="title">{% trans 'voltage bartar flower and plant store' %}</h2>
                                    <p class="desc">
                                        {% trans 'voltage bartar, a specialized reference for buying flowers, plants, seeds, soil, fertilizers and gardening tools.Quality, freshness and free advice for nature lovers.' %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 pl">
                            <div class="footer-safety-partner">
                                <div class="widget widget-product card mb-0">
                                    <div
                                        class="product-carousel-symbol owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage"
                                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
{#                                                active picture alamat e namad#}
                                                <div class="owl-item active"
                                                    style="width: 300.75px; margin-left: 10px;">
                                                    <div class="item">
                                                        <a referrerpolicy='origin' 
                                                            target='_blank' 
                                                            href='https://trustseal.enamad.ir/?id=734659&Code=k6YzsqFC3OjsFFYwPbpogel01EwX5mKT'>
                                                            <img 
                                                                referrerpolicy='origin' 
                                                                src='https://trustseal.enamad.ir/logo.aspx?id=734659&Code=k6YzsqFC3OjsFFYwPbpogel01EwX5mKT' 
                                                                alt='' 
                                                                style='cursor:pointer' 
                                                                code='k6YzsqFC3OjsFFYwPbpogel01EwX5mKT'>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-copyright">
                            <div class="footer-copyright-text">
                                <p>{% trans 'All content, photos, etc. belong to the voltage bartar shopping site.' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- footer------------------------------------------->
<!-- scroll_Progress------------------------->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<!-- scroll_Progress------------------------->
<!-- Page Loader----------------------------->
<div class="P-loader">
    <div class="P-loader-content">
        <div class="logo-loader">
            <img src="{% static 'img/logo/logo.jpg' %}" alt="VOLTAGE BARTAR">
        </div>
        <div class="pic-loader text-center">
            <img src="{% static 'img/three-dots.svg' %}" width="50" alt="VOLTAGE BARTAR">
        </div>
    </div>
</div>
<!-- Page Loader----------------------------->
