{% load i18n %}


<!-- <div class="gallery-item">
    <div>
        <ul class="gallery-actions">
            
            <li class="option-social">
                <a href="#" class="btn-option btn-option-social"
                    data-toggle="modal" data-target="#option-social">
                    <i class="mdi mdi-share"></i>
                    <span>{% trans 'subscription' %}</span>
                </a> -->
                <!-- Modal-option-social -->
                <!-- <div class="modal fade" id="option-social" tabindex="-1"
                    role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered"
                        role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="exampleModalCenterTitle">{% trans 'share' %}
                                </h5>
                                <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body"> -->
                                <!-- <div class="title">
                                    {% trans 'You can share this page with your friends using the methods below.' %}
                                </div>
                                <form action="#" class="email-sharing">
                                    <h5 class="share-title">
                                        {% trans 'Send by email' %}
                                    </h5>
                                    <div class="input-group-sharing">
                                        <input type="email"
                                            class="share-email-address form-control"
                                            id="share-email">
                                        <button
                                            class="btn-send-email btn btn-primary"
                                            type="submit">{% trans 'send email' %}</button>
                                    </div>
                                </form> -->
                                <!-- <div class="share-options">
                                    <div class="share-social-buttons text-center"> -->

                                        <!-- توییتر -->
                                        <!-- <a href="https://twitter.com/intent/tweet?text=این محصول را در دیجی‌کالا ببینید: &url=https://www.digikala.com/product/dkp-1672478" target="_blank"
                                            class="share-social share-social-twitter">
                                            <i class="mdi mdi-twitter"></i>
                                        </a> -->

                                        <!-- فیسبوک -->
                                        <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.digikala.com/product/dkp-1672478" target="_blank"
                                            class="share-social share-social-facebook">
                                            <i class="mdi mdi-facebook"></i>
                                        </a> -->

                                        <!-- واتس‌اپ -->
                                        <!-- <a href="https://api.whatsapp.com/send?text=این محصول را در دیجی‌کالا ببینید: https://www.digikala.com/product/dkp-1672478" target="_blank"
                                            class="share-social share-social-whatsapp">
                                            <i class="mdi mdi-whatsapp"></i>
                                        </a> -->

                                        <!-- ایمیل -->
                                        <!-- <a href="mailto:?subject=محصول پیشنهادی در دیجی‌کالا&body=این محصول را بررسی کنید: https://www.digikala.com/product/dkp-1672478"
                                            class="share-social share-social-email-outline">
                                            <i class="mdi mdi-email-outline"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="form-share-col">
                                    <input class="ui-url-field" type="url"
                                        value="https://www.digikala.com/product/dkp-1672478"
                                        readonly="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            <!-- </li>
            <li class="option-alarm">
                <a href="#" class="btn-option btn-option-alarm"
                    data-toggle="modal" data-target="#btn-option-alarm">
                    <i class="mdi mdi-bell-outline"></i>
                    <span>{% trans 'notification' %}</span>
                </a> -->
                <!-- Modal-option-alarm -->
                <!-- <div class="modal fade" id="btn-option-alarm" tabindex="-1"
                    role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered"
                        role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="exampleModalCenterTitle">
                                    {% trans 'let me know' %}
                                </h5> -->
                                <!-- <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-notification-title">{% trans 'through:' %}
                                </div>
                                <div class="form-auth-row">
                                    <label for="#" class="ui-checkbox mt-1">
                                        <input type="checkbox" value="1"
                                            name="login" id="remember">
                                        <span class="ui-checkbox-check"></span>
                                    </label>
                                    <label for="remember"
                                        class="remember-me mr-0">{% trans 'email to : ' %}
                                        {{ user.email }}</label> -->
                                <!-- </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                    class="btn btn-primary ml-2">{% trans 'registration' %}</button>
                                <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">{% trans 'return' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
 -->

<form id="favorite-form-{{ product.id }}" method="POST" action="{% url 'favorite:favorite_add' product.id %}" style="display: inline-block;">
    {% csrf_token%}
    <button type="submit" class="btn-favorite-toggle">
        <i class="mdi mdi-heart-outline favorite-icon"></i>
        <span>{% trans 'popular' %}</span>
    </button>
</form>