{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load persian_translation_tags %}
{% load humanize %}
{% load jalali_tags %}


{% block page_title %}
    {% trans 'profile page' %}
{% endblock page_title %}


{% block content %}

    {% include 'partials/navbar.html' %}

    <!-- profile------------------------------->
    <div class="container-main">
        <div class="d-block">
            <section class="profile-home">
                <div class="col-lg">
                    <div class="post-item-profile order-1 d-block">
                        <div class="col-lg-3 col-md-3 col-xs-12 pr">
                            <div class="sidebar-profile sidebar-navigation">
                                <section class="profile-box">
                                    <header class="profile-box-header-inline">
                                        <div class="profile-avatar user-avatar profile-img">
                                            <img src="{% static 'img/profile.png' %}">
                                        </div>
                                    </header>
                                    {% if profile.phone_number %}
                                        <footer class="profile-box-content-footer">
                                            <span class="profile-box-nameuser">{{ profile.first_name }} {{ profile.last_name }}</span>
                                            <span class="profile-box-registery-date">{% trans 'Join the site : ' %} {{ profile.date_time_create|to_jalali:'%H:%M:%S _ %Y/%m/%d' }}</span>
                                            <span class="profile-box-phone">{% trans 'mobile number : ' %} {{ profile.phone_number }}</span>
                                            <div class="profile-box-tabs">
                                                <a href="{% url 'account_logout' %}" class="profile-box-tab-sign-out"><i
                                                        class="mdi mdi-logout-variant"></i>{% trans 'log out account page' %}</a>
                                            </div>
                                        </footer>
                                    {% else %}
                                        <footer class="profile-box-content-footer">
                                            <span class="profile-box-nameuser">{{ profile.first_name }} {{ profile.last_name }}</span>
                                            <span class="profile-box-registery-date">{% trans 'Join the site : ' %} {{ profile.date_time_create|to_jalali:'%H:%M:%S _ %Y/%m/%d' }}</span>
                                            <span class="profile-box-phone">{% trans 'mobile number : Not registered yet' %}</span>
                                            <div class="profile-box-tabs">
                                                <a href="{% url 'account_logout' %}" class="profile-box-tab-sign-out"><i
                                                        class="mdi mdi-logout-variant"></i>{% trans 'log out account page' %}</a>
                                            </div>
                                        </footer>
                                    {% endif %}
                                </section>
                                <section class="profile-box">
                                    <ul class="profile-account-navs">
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile' %}" class=""><i class="mdi mdi-account-outline"></i>
                                            {% trans 'profile' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_order' %}" class="active"><i class="mdi mdi-cart"></i>
                                            {% trans 'All orders' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:favorite_list' %}" class=""><i class="mdi mdi-heart"></i>
                                               {% trans 'Favorites list' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_address' %}" class=""><i class="mdi mdi-map-outline"></i>
                                               {% trans 'Addresses' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_comment' %}" class=""><i class="mdi mdi-email-open-outline"></i>
                                               {%  trans 'Comments' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="#" class=""><i class="mdi mdi-tooltip-text-outline"></i>
                                               {% trans 'Account information' %}
                                            </a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12 pl">
                            <div class="profile-content">
                                <div class="profile-stats">
                                    <div class="table-orders">
                                        <table class="table table-profile-orders">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">{% trans 'order number' %}</th>
                                                    <th scope="col">{% trans 'Order registration date' %}</th>
                                                    <th scope="col">{% trans 'status' %}</th>
                                                    <th scope="col">{% trans 'total' %}</th>
                                                    <th scope="col">{% trans 'Details' %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders_whit_items %}
                                                    {% for item in order.items.all %}
                                                        <tr>
                                                            <td class="order-code">{{ item.id }}</td>
                                                            <td>{{ item.date_time_create|to_jalali:'%H:%M:%S _ %Y/%m/%d' }}</td>
                                                            {% if order.is_paid %}
                                                                <td class="Waiting text-success">{% trans 'paid' %}</td>
                                                            {% else %}
                                                                <td class="Waiting" style="color: orange;">{% trans 'waiting' %}</td>
                                                            {% endif %}
                                                            <td class="totla">
                                                                <span class="amount">{{ order.get_total_price|intcomma:False|translate_number }}
                                                                    <span>{% trans '$' %}</span>
                                                                </span>
                                                            </td>
                                                            <td class="detail">
                                                                <button type="submit", method="POST">
                                                                    <a href="{% url 'order:order_view' %}"
                                                                        class="btn btn-secondary d-block">{% trans 'view' %}
                                                                    </a>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- profile------------------------------->


    {% include 'partials/footer.html' %}

{% endblock content %}


{% block body_class %}
    account_page
{% endblock body_class %}