{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load persian_translation_tags %}
{% load humanize %}
{% load jalali_tags %}

{% block page_title %}
    {% trans 'profile' %}
{% endblock page_title %}


{% block content %}

    {% include 'partials/navbar.html' %}

    <!-- profile------------------------------->
    <div class="container-main">
        <div class="d-block">
            <section class="profile-home">
                <div class="col-lg">
                    <div class="post-item-profile order-1 d-block">
                        <div class="col-lg-3 col-md-3 col-xs-12 pr">
                            <div class="sidebar-profile sidebar-navigation">
                                <section class="profile-box">
                                    <header class="profile-box-header-inline">
                                        <div class="profile-avatar user-avatar profile-img">
                                            <img src="{% static 'img/profile.png' %}">
                                        </div>
                                    </header>
                                    {% if profile.phone_number %}
                                        <footer class="profile-box-content-footer">
                                            <span class="profile-box-nameuser">{{ profile.first_name }} {{ profile.last_name }}</span>
                                            <span class="profile-box-registery-date">{% trans 'Join the site : ' %} {{ profile.date_time_create|to_jalali:'%H:%M:%S _ %Y/%m/%d' }}</span>
                                            <span class="profile-box-phone">{% trans 'mobile number : ' %} {{ profile.phone_number }}</span>
                                            <div class="profile-box-tabs">
                                                <a href="{% url 'account_logout' %}" class="profile-box-tab-sign-out"><i
                                                        class="mdi mdi-logout-variant"></i>{% trans 'log out account page' %}</a>
                                            </div>
                                        </footer>
                                    {% else %}
                                        <footer class="profile-box-content-footer">
                                            <span class="profile-box-nameuser">{{ profile.first_name }} {{ profile.last_name }}</span>
                                            <span class="profile-box-registery-date">{% trans 'Join the site : ' %} {{ profile.date_time_create|to_jalali:'%H:%M:%S _ %Y/%m/%d' }}</span>
                                            <span class="profile-box-phone">{% trans 'mobile number : Not registered yet' %}</span>
                                            <div class="profile-box-tabs">
                                                <a href="{% url 'account_logout' %}" class="profile-box-tab-sign-out"><i
                                                        class="mdi mdi-logout-variant"></i>{% trans 'log out account page' %}</a>
                                            </div>
                                        </footer>
                                    {% endif %}
                                </section>
                                <section class="profile-box">
                                    <ul class="profile-account-navs">
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile' %}" class="active"><i class="mdi mdi-account-outline"></i>
                                            {% trans 'profile' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_order' %}" class=""><i class="mdi mdi-cart"></i>
                                            {% trans 'All orders' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'favorite:favorite_list' %}" class=""><i class="mdi mdi-heart"></i>
                                               {% trans 'Favorites list' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_address' %}" class=""><i class="mdi mdi-map-outline"></i>
                                               {% trans 'Addresses' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_comment' %}" class=""><i class="mdi mdi-email-open-outline"></i>
                                               {%  trans 'Comments' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_user_edit' %}" class=""><i class="mdi mdi-tooltip-text-outline"></i>
                                               {% trans 'Account information' %}
                                            </a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12 pl">
                            <div class="profile-content" id="profile">
                                {% if incomplete_fields|length >= 5 %}
                                    <div class="profile-stats"></div>
                                        <div class="table table-profile">
                                            <div class="title">{% trans 'Please complete your details.' %}</div>
                                            <div class="value">
                                                <ul>
                                                    {% for field in incomplete_fields %}
                                                        <li>{{ field }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <a href="{% url 'order:profile_user_edit' %}" class="link-spoiler-edit btn btn-secondary">{% trans 'Completion of specifications' %}</a>
                                        </div>
                                    </div>
                                {% else %}
                                <div class="profile-stats">
                                    <table class="table table-profile">
                                        <tbody>
                                            <tr>
                                                <td class="w-50">
                                                    <div class="title">{% trans 'Name and surname : ' %}</div>
                                                    <div class="value">{{ profile.first_name }} {{ profile.last_name }}</div>
                                                </td>
                                                <td>
                                                    <div class="title">{% trans 'email : ' %}</div>
                                                    <div class="value">{{ profile.email }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="title">{% trans 'Phone number : ' %}</div>
                                                    <div class="value">{{ profile.phone_number }}</div>
                                                </td>
                                                <td>
                                                    <div class="title">{% trans 'Profile update date : ' %}</div>
                                                    <div class="value">{{ profile.date_time_modified|to_jalali:'%H:%M:%S _ %Y/%m/%d' }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="title">{% trans 'Receive the newsletter : ' %}</div>
                                                {% if profile.Receive_the_newsletter == True %}
                                                    <div class="value">{% trans 'Yes' %}</div>
                                                {% else %}
                                                    <div class="value">{% trans 'No' %}</div>
                                                {% endif %}
                                                </td>
                                                <td>
                                                    <div class="title">{% trans 'National code : ' %}</div>
                                                    <div class="value">{{ profile.national_number }}</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="profile-edit-action">
                                        <a href="{% url 'order:profile_user_edit' %}" class="link-spoiler-edit btn btn-secondary">{% trans 'Edit information' %}</a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- profile------------------------------->


    {% include 'partials/footer.html' %}

{% endblock content %}


{% block body_class %}
    account_page
{% endblock body_class %}
