{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load persian_translation_tags %}
{% load humanize %}
{% load jalali_tags %}


{% block page_title %}
    {% trans 'favorite list' %}
{% endblock page_title %}


{% block content %}

    {% include 'partials/navbar.html' %}

    <!-- profile------------------------------->
    <div class="container-main">
        <div class="d-block">
            <section class="profile-home">
                <div class="col-lg">
                    <div class="post-item-profile order-1 d-block">
                        <div class="col-lg-3 col-md-3 col-xs-12 pr">
                            <div class="sidebar-profile sidebar-navigation">
                                <section class="profile-box">
                                    <header class="profile-box-header-inline">
                                        <div class="profile-avatar user-avatar profile-img">
                                            <img src="{% static 'img/profile.png' %}">
                                        </div>
                                    </header>
                                    {% if profile.phone_number %}
                                        <footer class="profile-box-content-footer">
                                            <span class="profile-box-nameuser">{{ profile.first_name }} {{ profile.last_name }}</span>
                                            <span class="profile-box-registery-date">{% trans 'Join the site : ' %} {{ profile.date_time_create|to_jalali:'%H:%M:%S _ %Y/%m/%d' }}</span>
                                            <span class="profile-box-phone">{% trans 'mobile number : ' %} {{ profile.phone_number }}</span>
                                            <div class="profile-box-tabs">
                                                <a href="{% url 'account_logout' %}" class="profile-box-tab-sign-out"><i
                                                        class="mdi mdi-logout-variant"></i>{% trans 'log out account page' %}</a>
                                            </div>
                                        </footer>
                                    {% else %}
                                        <footer class="profile-box-content-footer">
                                            <span class="profile-box-nameuser">{{ profile.first_name }} {{ profile.last_name }}</span>
                                            <span class="profile-box-registery-date">{% trans 'Join the site : ' %} {{ profile.date_time_create|to_jalali:'%H:%M:%S _ %Y/%m/%d' }}</span>
                                            <span class="profile-box-phone">{% trans 'mobile number : Not registered yet' %}</span>
                                            <div class="profile-box-tabs">
                                                <a href="{% url 'account_logout' %}" class="profile-box-tab-sign-out"><i
                                                        class="mdi mdi-logout-variant"></i>{% trans 'log out account page' %}</a>
                                            </div>
                                        </footer>
                                    {% endif %}
                                </section>
                                <section class="profile-box">
                                    <ul class="profile-account-navs">
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile' %}" class=""><i class="mdi mdi-account-outline"></i>
                                            {% trans 'profile' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_order' %}" class=""><i class="mdi mdi-cart"></i>
                                            {% trans 'All orders' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'favorite:favorite_list' %}" class="active"><i class="mdi mdi-heart"></i>
                                               {% trans 'Favorites list' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_address' %}" class=""><i class="mdi mdi-map-outline"></i>
                                               {% trans 'Addresses' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_comment' %}" class=""><i class="mdi mdi-email-open-outline"></i>
                                               {%  trans 'Comments' %}
                                            </a>
                                        </li>
                                        <li class="profile-account-nav-item navigation-link-dashboard">
                                            <a href="{% url 'order:profile_user_edit' %}" class=""><i class="mdi mdi-tooltip-text-outline"></i>
                                               {% trans 'Account information' %}
                                            </a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        {% if favorite_list %}
                            <div class="col-lg-9 col-md-9 col-xs-12 pl">
                                <div class="profile-content">
                                    <div class="profile-stats">
                                        <div class="table-favorites">
                                            <table class="table ns-table table-profile-favorites">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" width="50"> </th>
                                                        <th scope="col">{% trans 'product name' %}</th>
                                                        <th scope="col">{% trans 'price' %}</th>
                                                        <th class="actions-th"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for favorite in favorite_list %}
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="favorites-product-img">
                                                                    <a>
                                                                        {% if favorite.product.cover_product %}
                                                                            <img class="zoom-img"
                                                                                src="{{ favorite.product.cover_product.url }}"/>
                                                                        {% else %}
                                                                            <img class="zoom-img"
                                                                                src="{% static 'img/products/no_product_image.jpg' %}"/>
                                                                        {% endif %}
                                                                        <div id="gallery_01f" style="width:420px;float:right;">
                                                                    </a>
                                                                    <div class="product-rate">
                                                                        <i class="fa fa-star active"></i>
                                                                        <i class="fa fa-star active"></i>
                                                                        <i class="fa fa-star active"></i>
                                                                        <i class="fa fa-star active"></i>
                                                                        <i class="fa fa-star active"></i>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <td>
                                                                <a>{{ favorite.product.name }}</a>
                                                            <td>
                                                                <span class="amount">{{ favorite.product.final_price|intcomma:False|translate_number }}
                                                                    <span>{% trans '$' %}</span>
                                                                </span>
                                                            </td>
                                                            <td class="text-left actions">
                                                                <a href="{% url 'favorite:favorite_delete' favorite.product.id %}" class="remove-product"><i
                                                                        class="mdi mdi-close"></i></a>
                                                            </td>
                                                        </tr>
                                                        <tr class="spacer"></tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <!-- فایل HTML شما -->
                            <div id="shipping-alert" class="alert-container">
                            <span class="alert-icon">⚠️</span>
                            <span class="alert-title">{% trans 'attention :' %}</span>
                            {% trans 'no product is added to your favorite list!' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- profile------------------------------->


    {% include 'partials/footer.html' %}

{% endblock content %}


{% block body_class %}
    account_page
{% endblock body_class %}