{% extends "admin/base_site.html" %}

{% block content %}
  <h1>{{ title }}</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% for obj_id in selected %}
      <input type="hidden" name="_selected_action" value="{{ obj_id }}">
    {% endfor %}

    <input type="hidden" name="action" value="send_sms_action">
    <input type="hidden" name="apply" value="1">

    <button type="submit" class="default">ارسال</button>
    <a href=".." class="button cancel-link">انصراف</a>
  </form>
{% endblock %}