{% extends '_base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load persian_translation_tags %}
{% load humanize %}


{% block page_title %}
    {% trans 'question and answer' %}
{% endblock page_title %}


{% block content %}

    {% include 'partials/navbar.html' %}

    <!-- arshive-product----------------------->
    <div class="container-main">
        <div class="d-block">
            <div class="page-content col-12">
                <div class="info-page-faq">
                    <div id="content-bottom">
                        <div class="content-bottom-title">
                            <h2 class="box-rounded-headline">{% trans 'Categories of questions' %}</h2>
                            {% for key, title in categories %}
                                <div class="add-group-border">
                                    <a href="?category={{ key }}" class="category-link">
                                        <div class="add-group"></div>
                                        {% if category_images %}
                                            {% with image_url=category_images|get_item:key %}
                                                {% if image_url %}
                                                    <img src="{{ image_url }}" alt="{{ title }}">
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                        <h3>{{ title }}</h3>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if selected_category %}
                    <div class="info-page-faq">
                        <div class="content-info-page">
                            <h2 class="box-rounded_headline">{% trans 'Most frequently asked questions' %}</h2>
                            {% for q in questions %}
                                <div class="toggle-box" id="questions-{{ selected_category}}">
                                    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="{{ selected_category}}">
                                        <div class="toggle-box-active">
                                            <ul>
                                                <li class="has-sub">
                                                    <a>{{ q.body_question }}</a>
                                                    <ul style="display: none;">
                                                        {% for answer in q.answers.all %}
                                                            <li class="has-sub"><a>{{ answer.answer_text }}</a></li> 
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- arshive-product----------------------->

    {% include 'partials/footer.html' %}

{% endblock content %}


{% block body_class %}
    account_page
{% endblock body_class %}
