{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}
    {% trans 'privacy page' %}
{% endblock page_title %}

{% block body_class %}
    account_page
{% endblock body_class %}

{% block content %}

<!-- privacy----------------------------------->
    <div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-9 col-md-9 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">sabzeonline</a>
                        <div class="account-box" style="padding: 30px;">
                            <ul>
                                <h3>{% trans 'Green Online Store Terms, Conditions, and Privacy Policies' %}</h3>
                                ________________________________________
                                <h4>{% trans '1. General rules' %}</h4>
                                <p>{% trans "Sabz Online Online Store is subject to the laws of the Islamic Republic of Iran, the E-Commerce Law, and the Consumer Rights Protection Law. Using the services of this site means accepting all the rules and regulations stated on this page.Any changes to these rules will be notified through this page, and users' continued use of the site constitutes approval and acceptance of the new changes." %}</p>
                                ________________________________________
                                <h4>{% trans '2. Registering and processing orders' %}</h4>
                                <li>{% trans '• It is mandatory to complete the order form with correct and complete information; incomplete or incorrect information may cause delays or inability to deliver.' %}</li>
                                <li>{% trans '• Adding an item to the shopping cart does not in any way mean reserving the item, and the price or availability may change before final registration.' %}</li>
                                <li>{% trans '• If the desired flower type or color is not available in the current season, the customer will be contacted and the closest model will be substituted with their coordination. If the price of the product is different, the difference will be calculated and refunded in full.' %}</li>
                                <li>{% trans "• In the event of a problem with the final processing of the order (such as out of stock or customer cancellation), the amount paid will be returned to the customer's account within 2 to 12 business hours." %}</li>
                                ________________________________________
                                <h4>{% trans '3. Pricing and Taxes' %}</h4>
                                <p>{% trans 'Product prices are determined based on customer-centric principles and current market rates, and unreasonable increases in costs are avoided as much as possible. All prices are expertly calculated and include value-added taxes and duties; no separate fee is charged from the customer in this regard.If prices change, new items can only be applied before the order is placed and final payment is made.' %}</p>
                                ________________________________________
                                <h4>{% trans '4. Payment and order return' %}</h4><br>
                                <h5>{% trans 'Payment methods' %}</h5>
                                <li>{% trans '• Online payment through the official bank portal after placing the order.' %}</li>
                                <li>{% trans '• Payment in person at the delivery location in cash or using a card reader attached to the delivery courier.' %}</li>
                                <br>
                                <h5>{% trans 'Quality assurance and return policy' %}</h5>
                                <p>{% trans 'The quality, freshness, and health of the flowers and plants are guaranteed. If customers are not satisfied with the quality or the product is damaged upon delivery, they can return the product unconditionally before the courier returns and receive a full refund.Products whose packaging is open or damaged (such as soil or opened fertilizer) cannot be returned after delivery.' %}</p>
                                ________________________________________
                                <h4>{% trans '5. Shipping and delivery of goods' %}</h4>
                                <li>{% trans '• Orders are shipped to all parts of the country, and the shipping cost is calculated based on weight, distance, and type of shipment (courier or freight).' %}</li>
                                <li>{% trans '• Shipping costs will be included in the invoice before the order is finally placed. Any additional charges upon delivery will be considered a violation and must be reported to the sales experts.' %}</li>
                                <li>{% trans '• The customer is required to check the physical condition of the goods in the presence of the delivery officer and refuse to accept delivery if a problem is found. In this case, re-delivery will be free of charge.' %}</li>
                                <li>{% trans '• Orders exceeding 30 million rials or shipped via freight must be paid for offline (online or card-to-card) before shipping.' %}</li>
                                ________________________________________
                                <h4>{% trans '6. Electronic communications' %}</h4>
                                <p>{% trans "Placing an order or using the online green services means agreeing to receive promotional messages via email, text message or phone call. The email address and phone number registered by the user are considered the official basis for communication. Users can disable the receipt of promotional SMS messages in the user account section.All text messages are sent only through the official site system, and messages sent from other numbers under the name Sabz Online are considered a violation and abuse and must be reported for legal action." %}</p>
                                ________________________________________
                                <h4>{% trans '7. Privacy Policy' %}</h4>
                                <ul>
                                    <li>{% trans "• Sabz Online is committed to protecting users' personal information and not exploiting any of the recorded data without consent or a legal order." %}</li>
                                    <li>{% trans "• User information is used solely to process orders, notify purchase status, and provide better service." %}</li>
                                    <li>{% trans "• Advertising purposes are only carried out with the consent of users and can be revoked at any time." %}</li>
                                    <li>{% trans "• Users are responsible for maintaining the confidentiality of their account and password, and all activities that occur under their username are their responsibility." %}</li>
                                    <li>{% trans "• All written content, graphics, images and information on the site are considered the intellectual property of Sabz Online. Their commercial use or republishing without written permission is prohibited and the company reserves the right to pursue legal action." %}</li>
                                </ul>
                                ________________________________________
                                <h4>{% trans "8. Dispute resolution and complaint handling" %}</h4>
                                <p>{% trans "In the event of any dispute between the user and Sabz Online, the matter will first be reviewed through site support and, in the event of disagreement, will be pursued through legal authorities in accordance with the current regulations of the Islamic Republic of Iran." %}</p>
                                ________________________________________
                                <h4>{% trans "9. Change of rules and update date" %}</h4>
                                <p>{% trans "Sabz Online may update these terms and conditions to improve services or change legal conditions. The last revision date is listed at the top of this page." %}</p>
                                ________________________________________
                                <h4>{% trans "Contact green online" %}</h4><br>
                                <li>{% trans "• Support phone: [Support center contact number]" %}</li>
                                <li>{% trans "• Official email: [site email address]" %}</li>
                                <li>{% trans "• Central store address: [Physical address]" %}</li>
                                <br>
                                <h4>{% trans "Wishing you greenery and freshness in your home 🌱" %}</h4>                           
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- privacy----------------------------------->

<!-- scroll_Progress------------------------->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- scroll_Progress------------------------->

{% endblock content %}
