{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load persian_translation_tags %}
{% load humanize %}


{% block page_title %}
    {% trans 'sabzeonline' %}
{% endblock page_title %}


{% block content %}

    {% include 'partials/navbar.html' %}

    <!-- slider-main--------------------------->
    <div class="container-main">
        <div class="d-block">
            <div class="col-lg-12 col-xs-12 pr mb-4">
                <div class="slider-main-container d-block">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for slider in sliders %}
                                <li data-target="#carouselExampleIndicators"
                                    data-slide-to="{{ forloop.counter0 }}"
                                    class="{% if forloop.first %}active{% endif %}">
                                </li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for slider in sliders %}
                                <div class="carousel-item carousel-item-h4 {% if forloop.first %}active{% endif %}">
                                    <img src="{{ slider.image.url }}" class="d-block w-100 h-four-img"
                                        alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>{{ slider.title }}</h3>
                                        <p>{{ slider.subtitle }}</p>
                                        <a href="{{ slider.get_category_url }}" type="button"
                                           class="btn btn-warning btn-buy mt-4">{% trans 'make a purchase' %}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">{% trans 'Previous' %}</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">{% trans 'Next' %}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end_slider-main--------------------------->

        <!-- slidre-product------------------------>
    <div class="container-main">
        <div class="d-block">
            <!-- discounts--------------------------------------->
            <div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
                <div class="slider-widget-products">
                    <div class="widget widget-product card">
                        <header class="card-header">
                            <span class="title-one">{% trans 'Special discounts' %}</span>
                            <h3 class="card-title"></h3>
                            {% if active_discounts_count > 4 %}
                                <div class="view-all-header-container">
                                    <a href="#" class="view-all-link">
                                        {% trans 'view all' %}
                                    </a>
                                </div>
                            {% endif %}
                        </header>
                        <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                            {% for discount in active_discounts_slider %}
                                <div class="item">
                                    <div class="discount-badge"
                                         style="position: absolute; top: 5px; left: 5px; z-index: 10;
                                                background-color: #e61c1c; color: white;
                                                padding: 3px 8px; border-radius: 4px; font-size: 12px; font-weight: bold;">
                                        {{ discount.discount_percentage|intcomma:False|translate_number }}%
                                    </div>
                                    <a href="{% url 'products:product_detail_by_slug' discount.product.slug %}"
                                       class="d-block hover-img-link" data-toggle="modal" data-target="#exampleModal">
                                       {% if discount.product.cover_product %}
                                            <img src="{{ discount.product.cover_product.url }}"
                                                class="img-fluid" alt="">
                                        {% else %}
                                            <img src="{% static 'img/products/no_product_image.jpg' %}"
                                                class="img-fluid" alt="">
                                        {% endif %}
                                    </a>
                                    <h2 class="post-title">
                                        <a href="{% url 'products:product_detail_by_slug' discount.product.slug %}">
                                            {{ discount.product.name }}
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>{{ discount.product.base_price|intcomma:False|translate_number }} {% trans '$' %}</span></del>
                                        <ins><span>{{ discount.product.final_price|intcomma:False|translate_number }} {% trans '$' %}</span></ins>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end discounts--------------------------------------->

                <!-- elementor -->
                <div class="elementor row">
                    <div class="col-3 col-md-3 col-lg-3 col-xl-3 items-4 pr">
                        <article class="blog-item">
                            <figure class="figure">
                                <div class="post-thumbnail">
                                    <img src="{% static 'img/products/Houseplants.jpg' %}"
                                        alt="camera">
                                </div>

                                <div class="post-title">
                                    <a href="{% url 'products:product_list' %}?category=houseplants" class="d-block">
                                        <h5>{% trans 'Houseplants' %}</h5>
                                    </a>
                                    <p>{% trans 'Houseplants and air purifiers' %}</p>
                                    <a href="{% url 'products:product_list' %}?category=houseplants" type="button" class="btn btn-light btn-see-all">{% trans 'view all' %}</a>
                                </div>
                            </figure>
                        </article>
                    </div>
                    <div class="col-3 col-md-3 col-lg-3 col-xl-3 items-4 pr">
                        <article class="blog-item">
                            <figure class="figure">
                                <div class="post-thumbnail">
                                    <img src="{% static 'img/products/Ready-compounds-soil.jpg' %}"
                                        alt="camera">
                                </div>

                                <div class="post-title">
                                    <a href="{% url 'products:product_list' %}?category=Ready-compounds" class="d-block">
                                        <h5>{% trans 'Ready compounds' %}</h5>
                                    </a>
                                    <p>{% trans 'Ready-made mixtures for flowers and houseplants and planting media' %}</p>
                                    <a href="{% url 'products:product_list' %}?category=Ready-compounds" type="button" class="btn btn-light btn-see-all">{% trans 'view all' %}</a>
                                </div>
                            </figure>
                        </article>
                    </div>
                    <div class="col-3 col-md-3 col-lg-3 col-xl-3 items-4 pr">
                        <article class="blog-item">
                            <figure class="figure">
                                <div class="post-thumbnail">
                                    <img src="{% static 'img/products/chemical-fertilizer.jpg' %}"
                                        alt="camera">
                                </div>

                                <div class="post-title">
                                    <a href="{% url 'products:product_list' %}?category=chemical-fertilizer" class="d-block">
                                        <h5>{% trans 'chemical fertilizer' %}</h5>
                                    </a>
                                    <p>{% trans 'Chemical fertilizer for plant nutrition' %}</p>
                                    <a href="{% url 'products:product_list' %}?category=chemical-fertilizer" type="button" class="btn btn-light btn-see-all">{% trans 'view all' %}</a>
                                </div>
                            </figure>
                        </article>
                    </div>
                    <div class="col-3 col-md-3 col-lg-3 col-xl-3 items-4 pr">
                        <article class="blog-item">
                            <figure class="figure">
                                <div class="post-thumbnail">
                                    <img src="{% static 'img/products/plastic-pot.jpg' %}"
                                        alt="camera">
                                </div>

                                <div class="post-title">
                                    <a href="{% url 'products:product_list' %}?category=plastic" class="d-block">
                                        <h5>{% trans 'plastic pot' %}</h5>
                                    </a>
                                    <p>{% trans 'Plastic pots are the best choice for plants of all sizes.' %}</p>
                                    <a href="{% url 'products:product_list' %}?category=plastic" type="button" class="btn btn-light btn-see-all">{% trans 'view all' %}</a>
                                </div>
                            </figure>
                        </article>
                    </div>
                </div>
                <!-- elementor -->

            <!-- successful_sales--------------------------------------->
            <div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
                <div class="slider-widget-products">
                    <div class="widget widget-product card">
                        <header class="card-header">
                            <span class="title-one">{% trans 'successful sales' %}</span>
                            </header>
                        <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                            {% for sales in successful_sales %}
                                <div class="item">
                                    {% if sales.active_discount %}  {# --- بررسی وجود تخفیف فعال --- #}
                                        <div class="discount-badge"
                                             style="position: absolute; top: 5px; left: 5px; z-index: 10;
                                                    background-color: #e61c1c; color: white;
                                                    padding: 3px 8px; border-radius: 4px; font-size: 12px; font-weight: bold;">
                                            {{ sales.active_discount.discount_percentage|intcomma:False|translate_number }}%
                                        </div>
                                    {% endif %}
                                    <a href="{% url 'products:product_detail_by_slug' sales.slug %}" class="d-block hover-img-link">
                                        {% if sales.cover_product %}
                                            <img src="{{ sales.cover_product.url }}"
                                                class="img-fluid" alt="">
                                        {% else %}
                                            <img src="{% static 'img/products/no_product_image.jpg' %}"
                                                class="img-fluid" alt="">
                                        {% endif %}
                                    </a>
                                    <h2 class="post-title">
                                        <a href="{% url 'products:product_detail_by_slug' sales.slug %}">
                                            {{ sales.name }}
                                        </a>
                                    </h2>
                                    <div class="price">
                                        {% if sales.active_discount %} {# --- اگر تخفیف فعال وجود داشت، قیمت اصلی را خط بزنید --- #}
                                            <del><span>{{ sales.base_price|intcomma:False|translate_number }} {% trans '$' %}</span></del>
                                            <ins><span>{{ sales.final_price|intcomma:False|translate_number }} {% trans '$' %}</span></ins>
                                        {% else %} {# --- اگر تخفیف فعال وجود نداشت، فقط قیمت اصلی را نمایش دهید --- #}
                                            <ins><span>{{ sales.base_price|intcomma:False|translate_number }} {% trans '$' %}</span></ins>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end successful_sales--------------------------------------->

            <!-- latest_products--------------------------------------->
            <div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
                <div class="slider-widget-products">
                    <div class="widget widget-product card">
                        <header class="card-header">
                            <span class="title-one">{% trans 'latest_products' %}</span>
                        </header>
                        <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                            {% for latest_product in latest_products %}
                                <div class="item">
                                    {% if latest_product.active_discount %}  {# --- بررسی وجود تخفیف فعال --- #}
                                        <div class="discount-badge"
                                             style="position: absolute; top: 5px; left: 5px; z-index: 10;
                                                    background-color: #e61c1c; color: white;
                                                    padding: 3px 8px; border-radius: 4px; font-size: 12px; font-weight: bold;">
                                            {{ latest_product.active_discount.discount_percentage|intcomma:False|translate_number }}%
                                        </div>
                                    {% endif %}
                                    <a href="{% url 'products:product_detail_by_slug' latest_product.slug %}" class="d-block hover-img-link">
                                        {% if latest_product.cover_product %}
                                            <img src="{{ latest_product.cover_product.url }}"
                                                class="img-fluid" alt="">
                                        {% else %}
                                            <img src="{% static 'img/products/no_product_image.jpg' %}"
                                                class="img-fluid" alt="">
                                        {% endif %}
                                    </a>
                                    <h2 class="post-title">
                                        <a href="{% url 'products:product_detail_by_slug' latest_product.slug %}">
                                            {{ latest_product.name }}
                                        </a>
                                    </h2>
                                    <div class="price">
                                        {% if latest_product.active_discount %}
                                            <del><span>{{ latest_product.base_price|intcomma:False|translate_number }} {% trans '$' %}</span></del>
                                            <ins><span>{{ latest_product.final_price|intcomma:False|translate_number }} {% trans '$' %}</span></ins>
                                        {% else %}
                                            <ins><span>{{ latest_product.base_price|intcomma:False|translate_number }} {% trans '$' %}</span></ins>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end latest_products--------------------------------------->

            <!-- elementor_post_blog--------------------------------------->
            <div class="slider-widget-products">
                <div class="widget widget-product card">
                    <header class="new-blog-banner">
                        <h5>{% trans 'The latest published blogs' %}</h5>
                    </header>
                    <div class="elementor row">
                        {% for blog in blog_most_recent %}
                            <div class="col-3 col-md-3 col-lg-3 col-xl-3 items-4 pr">
                                <article class="blog-item">
                                    <figure class="figure">
                                        <div class="post-thumbnail">
                                            {% if blog.cover_blog %}
                                                <img src="{{ blog.cover_blog.url }}"
                                                    class="img-fluid" alt="">
                                            {% else %}
                                                <img src="{% static 'img/products/no_product_image.jpg' %}"
                                                    class="img-fluid" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="post-title">
                                            <p><b>{{ blog.name }}</b></p>
                                            <p>{{ blog.short_description }}</p>
                                            <a href="{% url 'blog:blog_detail_by_slug' blog.slug %}" type="button" class="btn btn-light btn-see-all">{% trans 'View the blog' %}</a>
                                        </div>
                                    </figure>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="container-for-my-button">
                        <a href="{% url 'blog:blogs' %}" type="button" class="my-custom-add-button btn btn-primary">{% trans 'View all blogs' %}</a>
                    </div>
                </div>
            </div>
            <!-- end elementor_post_blog--------------------------------------->
        </div>
    </div>
    {% include 'partials/footer.html' %}

{% endblock content %}


{% block body_class %}
    account_page
{% endblock body_class %}