{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load persian_translation_tags %}
{% load humanize %}


{% block page_title %}
    {% trans 'sabzeonline' %}
{% endblock page_title %}


{% block content %}

    {% include 'partials/navbar.html' %}

    <!-- start sidebar--------------------->
    <div class="col-lg-3 col-md-3 col-xs-12 pr sticky-sidebar">
        <div class="shop-archive-sidebar">
            <div class="sidebar-archive mb-3">
                <section class="widget-product-categories">
                    <header class="cat-header">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-right" data-toggle="collapse"
                                    href="#headingOne" role="button" aria-expanded="false"
                                    aria-controls="headingOne">
                                {% trans 'Product categories' %}
                                <i class="mdi mdi-chevron-down"></i>
                            </button>
                        </h2>
                    </header>
                    <div class="product-filter">
                        <div class="card">
                            <div class="collapse show" id="headingOne">
                                <div class="card-main mb-0">
                                    <div class="form-auth-row">
                                        <label for="#" class="ui-checkbox">
                                            <input type="checkbox" value="1" name="login" id="remember">
                                            <span class="ui-checkbox-check"></span>
                                        </label>
                                        <label for="remember" class="remember-me">{% trans 'everyone' %}</label>
                                    </div>
                                    {% for category in child_categories %}
                                        <div class="form-auth-row">
                                            <label for="#" class="ui-checkbox">
                                                <input type="checkbox" value="1" name="login" id="remember">
                                                <span class="ui-checkbox-check"></span>
                                            </label>
                                            <label for="remember" class="remember-me">{{ category.name }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget-product-categories">
                    <header class="cat-header">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-right" data-toggle="collapse"
                                    href="#headingTwo" role="button" aria-expanded="false"
                                    aria-controls="headingTwo">
                                {% trans 'brands' %}
                                <i class="mdi mdi-chevron-down"></i>
                            </button>
                        </h2>
                    </header>
                    <div class="product-filter">
                        <div class="card">
                            <div class="collapse show" id="headingTwo">
                                <div class="card-main mb-0">
                                    {% for brand in brands %}
                                        <div class="form-auth-row">
                                            <label for="#" class="ui-checkbox">
                                                <input type="checkbox" value="1" name="login" id="remember">
                                                <span class="ui-checkbox-check"></span>
                                            </label>
                                            <label for="remember" class="remember-me">{{ brand.name }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget-product-categories">
                    <header class="cat-header">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-right collapsed" data-toggle="collapse"
                                    href="#headingThree" role="button" aria-expanded="false"
                                    aria-controls="headingThree">
                                {% trans 'Price range' %}
                                <i class="mdi mdi-chevron-down"></i>
                            </button>
                        </h2>
                    </header>
                    <div class="product-filter">
                        <div class="card">
                            <div class="collapse show" id="headingThree">
                                <div class="card-main mb-0">
                                    <div class="box-data">
                                        <form action="">
                                            <div class="mt-5 mb-4">
                                                <div id="slider-non-linear-step"></div>
                                            </div>
                                            <div class="filter-range mt-2 mb-2 pr">
                                                <span>{% trans 'price: ' %}</span>
                                                <span class="example-val"
                                                      id="slider-non-linear-step-value">
                                                    {{ min_price|intcomma:False|translate_number }} -
                                                    {{ max_price|intcomma:False|translate_number }}
                                                </span>
                                                {% trans '$' %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-xs-12 pl">
        <div class="shop-archive-content mt-3 d-block">
            <div class="archive-header">
                <h2 class="archive-header-title">{% trans 'Product archive' %}</h2>
                <div class="sort-tabs mt-0 d-inline-block pr">
                    <h4>{% trans 'Sort by:' %}</h4>
                </div>
                <div class="nav-sort-tabs-res">
                    <ul class="nav sort-tabs-options" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="Most-visited-tab" data-toggle="tab"
                               href="#Most-visited" role="tab" aria-controls="Most-visited"
                               aria-selected="true">{% trans 'most visited' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Bestselling-tab" data-toggle="tab"
                               href="#Bestselling" role="tab" aria-controls="Bestselling"
                               aria-selected="false">{% trans 'Bestseller' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Most-Popular-tab" data-toggle="tab"
                               href="#Most-Popular" role="tab" aria-controls="Most-Popular"
                               aria-selected="false">{% trans 'the most popular' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="newest-tab" data-toggle="tab" href="#newest"
                               role="tab" aria-controls="newest" aria-selected="false">{% trans 'The newest' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="cheapest-tab" data-toggle="tab" href="#cheapest"
                               role="tab" aria-controls="cheapest" aria-selected="false">{% trans 'the cheapest' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="most-expensive-tab" data-toggle="tab"
                               href="#most-expensive" role="tab" aria-controls="most-expensive"
                               aria-selected="false">{% trans 'the most expensive' %}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-items">
                <div class="tab-content" id="myTabContent">
                    {#                    <----- پربازدید ترین ها ----- >#}
                    <div class="tab-pane fade show active" id="Most-visited" role="tabpanel" aria-labelledby="Most-visited-tab">
                        <!-- 1. اضافه شدن Row برای چیدمان افقی -->
                        <div class="row">
                            {% for product in Number_of_visits %}

                                {# فرض: اگر product.discount_percentage وجود داشته باشد، محصول تخفیف دارد #}
                                {% if product.active_discounts.discount_percentage %}

                                    <!-- محصول با تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="promotion-badge">{% trans 'Special sale' %}</div>
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i>
                                                    </div>
                                                    <div class="discount-d">
                                                        <!-- استفاده از ویژگی‌های تخفیف مستقیم روی product -->
                                                        <span>{{ product.active_discounts.discount_percentage|intcomma:False|translate_number }} %</span>
                                                    </div>
                                                    <!-- <img src="{{ product.cover_product }}" alt="{{ product.name }}"> -->
                                                     {% if product.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ product.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' product.slug %}">
                                                    {{ product.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <!-- قیمت اصلی خط خورده و قیمت نهایی نمایش داده می‌شود -->
                                                <del>
                                                    <span>{{ product.base_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </del>
                                                <ins>
                                                    <span>{{ product.final_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </ins>
                                            </div>
                                        </section>
                                    </div>

                                {% else %}

                                    <!-- محصول بدون تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i class="fa fa-star"></i>
                                                    </div>
                                                    <!-- <img src="{{ product.cover_product }}" alt="{{ product.name }}"> -->
                                                     {% if product.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ product.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' product.slug %}">
                                                    {{ product.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <span class="amount">{{ product.final_price|intcomma:False|translate_number }} <span>{% trans '$' %}</span></span>
                                            </div>
                                        </section>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div> <!-- پایان Row -->
                    </div>
                    {#                    <----- پرفروش ترین ها ----- >#}
                    <div class="tab-pane fade" id="Bestselling" role="tabpanel" aria-labelledby="Bestselling-tab">
                        <!-- 1. اضافه شدن Row برای چیدمان افقی -->
                        <div class="row">
                            {% for successful_sale_product in successful_sale_products %}

                                {# فرض: اگر successful_sale_product.discount_percentage وجود داشته باشد، محصول تخفیف دارد #}
                                {% if successful_sale_product.active_discounts.discount_percentage %}

                                    <!-- محصول با تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="promotion-badge">{% trans 'Special sale' %}</div>
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i>
                                                    </div>
                                                    <div class="discount-d">
                                                        <!-- استفاده از ویژگی‌های تخفیف مستقیم روی successful_sale_product -->
                                                        <span>{{ successful_sale_product.active_discounts.discount_percentage|intcomma:False|translate_number }} %</span>
                                                    </div>
                                                    <!-- <img src="{{ successful_sale_product.cover_product }}" alt="{{ successful_sale_product.name }}"> -->
                                                     {% if successful_sale_product.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ successful_sale_product.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' successful_sale_product.slug %}">
                                                    {{ successful_sale_product.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <!-- قیمت اصلی خط خورده و قیمت نهایی نمایش داده می‌شود -->
                                                <del>
                                                    <span>{{ successful_sale_product.base_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </del>
                                                <ins>
                                                    <span>{{ successful_sale_product.final_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </ins>
                                            </div>
                                        </section>
                                    </div>

                                {% else %}

                                    <!-- محصول بدون تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i class="fa fa-star"></i>
                                                    </div>
                                                    <!-- <img src="{{ successful_sale_product.cover_product }}" alt="{{ successful_sale_product.name }}"> -->
                                                    {% if successful_sale_product.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ successful_sale_product.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' successful_sale_product.slug %}">
                                                    {{ successful_sale_product.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <span class="amount">{{ successful_sale_product.final_price|intcomma:False|translate_number }} <span>{% trans '$' %}</span></span>
                                            </div>
                                        </section>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div> <!-- پایان Row -->
                    </div>
                    
                    {#                    <----- محبوب ترین ها ----- >#}
                    <div class="tab-pane fade" id="Most-Popular" role="tabpanel" aria-labelledby="Most-Popular-tab">
                        <!-- 1. اضافه شدن Row برای چیدمان افقی -->
                        <div class="row">
                            {% for product_popular  in popular_active_products %}

                                {# فرض: اگر product_popular.discount_percentage وجود داشته باشد، محصول تخفیف دارد #}
                                {% if product_popular.active_discounts.discount_percentage %}

                                    <!-- محصول با تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="promotion-badge">{% trans 'Special sale' %}</div>
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i>
                                                    </div>
                                                    <div class="discount-d">
                                                        <!-- استفاده از ویژگی‌های تخفیف مستقیم روی product_popular -->
                                                        <span>{{ product_popular.active_discounts.discount_percentage|intcomma:False|translate_number }} %</span>
                                                    </div>
                                                    <!-- <img src="{{ product_popular.cover_product }}" alt="{{ product_popular.name }}"> -->
                                                    {% if product_popular.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ product_popular.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' product_popular.slug %}">
                                                    {{ product_popular.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <!-- قیمت اصلی خط خورده و قیمت نهایی نمایش داده می‌شود -->
                                                <del>
                                                    <span>{{ product_popular.base_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </del>
                                                <ins>
                                                    <span>{{ product_popular.final_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </ins>
                                            </div>
                                        </section>
                                    </div>

                                {% else %}

                                    <!-- محصول بدون تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i class="fa fa-star"></i>
                                                    </div>
                                                    <!-- <img src="{{ product_popular.cover_product }}" alt="{{ product_popular.name }}"> -->
                                                     {% if product_popular.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ product_popular.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' product_popular.slug %}">
                                                    {{ product_popular.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <span class="amount">{{ product_popular.final_price|intcomma:False|translate_number }} <span>{% trans '$' %}</span></span>
                                            </div>
                                        </section>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div> <!-- پایان Row -->
                    </div>

                    {#                    <----- جدید ترین ها ----- >#}
                    <div class="tab-pane fade" id="newest" role="tabpanel" aria-labelledby="newest-tab">
                        <!-- 1. اضافه شدن Row برای چیدمان افقی -->
                        <div class="row">
                            {% for new_product in new_products %}

                                {# فرض: اگر new_product.discount_percentage وجود داشته باشد، محصول تخفیف دارد #}
                                {% if new_product.active_discounts.discount_percentage %}

                                    <!-- محصول با تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="promotion-badge">{% trans 'Special sale' %}</div>
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i>
                                                    </div>
                                                    <div class="discount-d">
                                                        <!-- استفاده از ویژگی‌های تخفیف مستقیم روی new_product -->
                                                        <span>{{ new_product.active_discounts.discount_percentage|intcomma:False|translate_number }} %</span>
                                                    </div>
                                                    <!-- <img src="{{ new_product.cover_product }}" alt="{{ new_product.name }}"> -->
                                                     {% if new_product.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ new_product.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' new_product.slug %}">
                                                    {{ new_product.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <!-- قیمت اصلی خط خورده و قیمت نهایی نمایش داده می‌شود -->
                                                <del>
                                                    <span>{{ new_product.base_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </del>
                                                <ins>
                                                    <span>{{ new_product.final_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </ins>
                                            </div>
                                        </section>
                                    </div>

                                {% else %}

                                    <!-- محصول بدون تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i class="fa fa-star"></i>
                                                    </div>
                                                    <!-- <img src="{{ new_product.cover_product }}" alt="{{ new_product.name }}"> -->
                                                     {% if new_product.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ new_product.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' new_product.slug %}">
                                                    {{ new_product.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <span class="amount">{{ new_product.final_price|intcomma:False|translate_number }} <span>{% trans '$' %}</span></span>
                                            </div>
                                        </section>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div> <!-- پایان Row -->
                    </div>

                    {#                    <----- ارزان ترین ها ----- >#}
                    <div class="tab-pane fade" id="cheapest" role="tabpanel" aria-labelledby="cheapest-tab">
                    <!-- 1. اضافه شدن Row برای چیدمان افقی -->
                        <div class="row">
                            {% for cheapest in products_cheapest %}

                                {# فرض: اگر new_product.discount_percentage وجود داشته باشد، محصول تخفیف دارد #}
                                {% if cheapest.active_discounts.discount_percentage %}

                                    <!-- محصول با تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="promotion-badge">{% trans 'Special sale' %}</div>
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i>
                                                    </div>
                                                    <div class="discount-d">
                                                        <!-- استفاده از ویژگی‌های تخفیف مستقیم روی new_product -->
                                                        <span>{{ cheapest.active_discounts.discount_percentage|intcomma:False|translate_number }} %</span>
                                                    </div>
                                                    <!-- <img src="{{ cheapest.cover_product }}" alt="{{ cheapest.name }}"> -->
                                                     {% if cheapest.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ cheapest.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' cheapest.slug %}">
                                                    {{ cheapest.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <!-- قیمت اصلی خط خورده و قیمت نهایی نمایش داده می‌شود -->
                                                <del>
                                                    <span>{{ cheapest.base_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </del>
                                                <ins>
                                                    <span>{{ cheapest.final_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </ins>
                                            </div>
                                        </section>
                                    </div>

                                {% else %}

                                    <!-- محصول بدون تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i class="fa fa-star"></i>
                                                    </div>
                                                    <!-- <img src="{{ cheapest.cover_product }}" alt="{{ cheapest.name }}"> -->
                                                     {% if cheapest.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ cheapest.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' cheapest.slug %}">
                                                    {{ cheapest.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <span class="amount">{{ cheapest.final_price|intcomma:False|translate_number }} <span>{% trans '$' %}</span></span>
                                            </div>
                                        </section>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div> <!-- پایان Row -->
                    </div>

                    {#                    <----- گران ترین ها ----- >#}
                    <div class="tab-pane fade" id="most-expensive" role="tabpanel" aria-labelledby="most-expensive-tab">
                    <!-- 1. اضافه شدن Row برای چیدمان افقی -->
                        <div class="row">
                            {% for most_expensive in products_most_expensive %}

                                {# فرض: اگر new_product.discount_percentage وجود داشته باشد، محصول تخفیف دارد #}
                                {% if most_expensive.active_discounts.discount_percentage %}

                                    <!-- محصول با تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="promotion-badge">{% trans 'Special sale' %}</div>
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i>
                                                    </div>
                                                    <div class="discount-d">
                                                        <!-- استفاده از ویژگی‌های تخفیف مستقیم روی new_product -->
                                                        <span>{{ most_expensive.active_discounts.discount_percentage|intcomma:False|translate_number }} %</span>
                                                    </div>
                                                    <!-- <img src="{{ most_expensive.cover_product }}" alt="{{ most_expensive.name }}"> -->
                                                     {% if most_expensive.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ most_expensive.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' most_expensive.slug %}">
                                                    {{ most_expensive.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <!-- قیمت اصلی خط خورده و قیمت نهایی نمایش داده می‌شود -->
                                                <del>
                                                    <span>{{ most_expensive.base_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </del>
                                                <ins>
                                                    <span>{{ most_expensive.final_price|intcomma:False|translate_number }} {% trans '$' %}</span>
                                                </ins>
                                            </div>
                                        </section>
                                    </div>

                                {% else %}

                                    <!-- محصول بدون تخفیف -->
                                    <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple">
                                            <div class="thumb">
                                                <a href="#" class="d-block">
                                                    <div class="product-rate">
                                                        <i class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i
                                                            class="fa fa-star active"></i><i class="fa fa-star"></i>
                                                    </div>
                                                    <!-- <img src="{{ most_expensive.cover_product }}" alt="{{ most_expensive.name }}"> -->
                                                     {% if most_expensive.cover_product %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{{ most_expensive.cover_product.url }}"
                                                            data-zoom-image="{{ product.cover_product.url }}"
                                                            width="411" />
                                                    {% else %}
                                                        <img class="zoom-img" id="img-product-zoom"
                                                            src="{% static 'img/products/no_product_image.jpg' %}"
                                                            data-zoom-image="{% static 'img/products/no_product_image.jpg' %}"
                                                            width="411" />
                                                    {% endif %}
                                                    <div id="gallery_01f" style="width:420px;float:right;">
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a href="{% url 'products:product_detail_by_slug' most_expensive.slug %}">
                                                    {{ most_expensive.name }}
                                                </a>
                                            </div>
                                            <div class="price">
                                                <span class="amount">{{ most_expensive.final_price|intcomma:False|translate_number }} <span>{% trans '$' %}</span></span>
                                            </div>
                                        </section>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div> <!-- پایان Row -->
                    </div>
                </div>
            </div>
            <div class="pagination-product">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link active" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    {% include 'partials/footer.html' %}

{% endblock content %}


{% block body_class %}
    account_page
{% endblock body_class %}
