<h1>{{ product.name }}</h1>

<h1>{{ product.category }}</h1>
<h1>{{ product.brand }}</h1>
<h1>{{ product.date_time_create }}</h1>
------------------
<h1>{{ product.features.ingredients }}</h1>
<h1>{{ product.features.usage_instructions }}</h1>
------------------
<h1>{{ product.inventory.get_status_display }}</h1>
<h1>{{ product.inventory.inventory }}</h1>
------------------
<h1>{{ product.successful_sales_count }}</h1>
<h1>{{ product.base_price }}</h1>
------------------
<h1>{{ product.short_description }}</h1>
<h1>{{ product.description }}</h1>
------------------